body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
}

.surrounding {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Common properties */

.background-header, 
.background-main-section, 
.background-information-section, 
.background-quote-section, 
.background-invite-section, 
.background-footer {
    display: flex;
    justify-content: center;
}

.background-header, .background-main-section, .background-footer {
    background-color: #1F2937;
}

.header, 
.main-section, 
.information-section, 
.quote-section, 
.invite-secton, 
.footer {
    width: 1000px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    width: 140px;
    padding: 12px 0;
}

/* ---------- Header ---------- */

.background-header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

li {
    color: #E5E7EB
}

/* ---------- Top main section ---------- */

.main-section {
    display: flex;
    margin: 48px 0;
}

.left-main {
    color: #E5E7EB;
    font-size: 18px;
    margin: 48px 48px 48px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.title-text {
    margin-top: 6px;
    margin-bottom: 12px;
}

.right-main {
    background-color: grey;
    color: #F9FAF8;
    margin: 48px 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Information section ---------- */

.information-section {
    display: flex;
}

.subtitle-info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.image-info {
    color: grey;
}

/* ---------- Quote section ---------- */

.background-quote-section {
    background-color: #E5E7EB;
}

.quote-section {
    display: flex;
}

#quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

#person {

}

/* ---------- Customer invite section ---------- */

.invite-section {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
}

.left-invite {

}

.right-invite {

}

/* ---------- Footer ---------- */

.footer {
    color: #F9FAF8;
}